1. Write a program using a `for` loop and `range()` to print numbers from 1 to 10.

In [1]:
for i in range(1 , 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a program using a `while` loop to print the first 10 natural numbers.

i = 1
while i < 11:
    print(i)
    i +=1

3. Print all even numbers between 1 and 50 using a `for` loop and `range()`.

In [4]:
for i in range(0 , 51 , 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

4. Print the sum of numbers from 1 to 100 using a `for` loop.

In [8]:
sum = 0
for i in range(1 , 101):
    sum += i 
print(sum)

5050

5. Use a `while` loop to calculate the factorial of a number entered by the user.

In [11]:
num = int(input("Enter a Number:"))
fact = 1
for i in range(1 , num+1):
    fact *= i
print(fact)

Enter a Number: 5

120

   Q6. Print the following pattern using a `for` loop:
   *
   **
   ***
   ****
   *****

In [12]:
for i in range(1 , 6):
    print("*" * i)

*
**
***
****
*****

In [ ]:
   Q7. Print this pattern using nested `for` loops:
   1
   12
   123
   1234
   12345

In [24]:
for i in range(1 , 6):
    for j in range(1 , i+1):
        print(j , end ="")
    print()

1
12
123
1234
12345

In [ ]:
   Q8. Create a loop pattern of stars in reverse:
   *****
   ****
   ***
   **
   *

In [37]:
for i in range(5 , 0 , -1):
    print("*" * i)

*****
****
***
**
*

Q9. Write a `for` loop to print the multiplication table of any number entered by the user.

In [41]:
z = int(input("Enter a number"))
for i in range(1 , 11):
    print(f"{z} * {i} = {z*i}")

Enter a number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Q10. Use a `while` loop to print the digits of a number in reverse order (e.g., 1234 â†’ 4 3 2 1).

In [43]:
num = int(input("Enter a number: "))
while num > 0:
    digit = num % 10
    print(digit, end=" ")
    num = num // 10

Enter a number:  2468

8 6 4 2

Q11. Print all prime numbers between 1 and 100 using a loop.

In [47]:
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Q12. Ask the user for a number and use a loop to check if it is a palindrome number.

In [10]:
num = int(input("Enter a Number"))
actual_num = num
reversed_num = 0

while num > 0:
  digit = num % 10
  reversed_num = reversed_num * 10 + digit
  num //= 10

if (actual_num == reversed_num):
  print("Its a Plindrome number")
else:
  print("Number is not a palindrome")

Enter a Number 121

Its a Plindrome number

Q13. Print the Fibonacci sequence up to 10 terms using a loop.

In [11]:
num1 = 0
num2 = 1

for i in range(10):
  print(num1, end = " ")
  next_num = num1 + num2
  num1 = num2
  num2 = next_num

0 1 1 2 3 5 8 13 21 34

14. Count how many digits are in an integer entered by the user using a `while` loop.

In [18]:
num = int(input("Enter a Number"))
count = 0
while num  > 0:
    num //= 10
    count +=1
print("Digits count",count)

Enter a Number 1001

Digits count 4

In [ ]:
Q15. Triangle number pattern 
1
2 3
4 5 6
7 8 9 10

In [19]:
num = 1
for i in range(1,5):
  for j in range(i):
    print(num, end = " ")
    num += 1
  print()

1
2 3
4 5 6
7 8 9 10