In [1]:
#1. Create a set from this list: [1, 2, 2, 3, 4, 4, 5]. Print the set.
my_list = [1, 2, 2, 3, 4, 4, 5]
set1 = set(my_list)
print(set1)

{1, 2, 3, 4, 5}

In [2]:
#2. Create a dictionary with your name, age, and city. Print the dictionary.
dic = {
    "name" : "Afzaal" ,
    "age" : 21 ,
    "city" : "Lahore"
}
print(dic)

{'name': 'Afzaal', 'age': 21, 'city': 'Lahore'}

In [3]:
#3.Use a string method to convert the string 'hello world' to uppercase.
string = "hello world"
print(string.upper())

HELLO WORLD

In [4]:
#4. Find the length of the string 'Python Programming'.
string = "Python Programming"
print("The length of string is:",len(string))

The length of string is: 18

In [5]:
#5. Check if the word 'apple' is in the set {'banana', 'apple', 'orange'}.
fruit = {"banana", "apple", "orange"}
if "apple" in fruit:
  print("apple is in the set")
else:
  print("apple is not in the set")

apple is in the set

In [6]:
#6. Print all keys from the dictionary: {'name': 'Ali', 'age': 25, 'city': 'Lahore'}.
dic = {
    "name" : "Ali" ,
    "age" : 25 ,
    "city" : "Lahore"
}
print(dic.keys())

dict_keys(['name', 'age', 'city'])

In [7]:
#7. Use string method to count how many times 'a' appears in 'banana'.
string = "banana"
print(string.count("a"))

3

In [8]:
#8. Add an item to this set: {'red', 'green'}. Add 'blue'.
color = {"red", "green"}
color.add("yellow")
print(color)

{'red', 'green', 'yellow'}

In [9]:
#9. Change the value of 'age' in the dictionary {'name': 'Sara', 'age': 22} to 23.
dic = {
    "name" : "Sara" ,
    "age" : 22
}
dic["age"] = 23
print(dic)

{'name': 'Sara', 'age': 23}

In [12]:
#10. Remove the word 'cat' from the set {'cat', 'dog', 'mouse'}.
set1 = {"cat", "dog", "mouse"}
set1.remove("cat")
print(set1)

{'dog', 'mouse'}

In [13]:
#11. Split the string 'apple, banana, orange' into a list using string method
fruit = "apple","banana","orange"
print(list(fruit))

['apple', 'banana', 'orange']

In [14]:
#12. Check if key 'city' exists in the dictionary {'name': 'Ali', 'city': 'Karachi'}.
dic = {
    "name" : "Ali" ,
    "city" : "Karachi"
}
if "city" in dic:
  print("Exist")
else:
  print("Not exist")

Exist

In [15]:
#13. Join the list ['Python', 'is', 'fun'] into a single string.
list1 = ["Python", "is", "fun"]
string = " ".join(list1)
print(string)

Python is fun

In [16]:
#14. Clear all items from the dictionary {'a': 1, 'b': 2}.
dic = {
    "a" : 1 ,
    "b" : 2
}
print(dic.clear())

None

In [17]:
#15. Use a string method to replace 'world' with 'Python' in the string 'hello world'.
string1 = "hello world"
new = string1.replace("world", "Python")
print(new)

hello Python