In [1]:
#1. Write a Python program to create a list of 5 integers and print the list.
lst1 = [1, 2, 3, 4, 5]
print(lst1)

[1, 2, 3, 4, 5]

In [6]:
#	2. Write a Python function that takes a list of numbers and returns the maximum value.
lst = list(map(int, input("Enter a list of numbers: ").split()))
def max_value(lst):
  return max(lst)

print("Max value from the list is: ", max_value(lst))

Enter a list of numbers:  2 4 5 7 6 8

Max value from the list is:  8

In [7]:
#3. Create a list of fruits and print the second and last elements.
fruit = ["Apple", "Cherry", "Strawberry", "Peach", "Mango"]
print(fruit[1])
print(fruit[-1])

Cherry
Mango

In [8]:
#4. Write a program to remove all duplicates from a list.
lst = [1, 2, 4, 8, 5, 3, 8, 1, 6, 4, 8]
new_lst = list(set(lst))
print("List without duplicates: ",new_lst)

List without duplicates:  [1, 2, 3, 4, 5, 6, 8]

In [9]:
#5. Write a Python program to find the sum and average of elements in a list.
lst = list(map(int, input("Enter a list of numbers: ").split()))
sum_value = sum(lst)
average_value = sum(lst) / len(lst)
print(f"The sum of list elements is: {sum_value} and average is: {average_value}")

Enter a list of numbers:  2 4 6 7 8

The sum of list elements is: 27 and average is: 5.4

In [10]:
#6. Given a list of numbers, write a program to square each number and store the result in a new list.
lst = list(map(int, input("Enter a list of numbers: ").split()))
new_lst = []
for i in lst:
  new_lst.append(i**2)
print(new_lst)

Enter a list of numbers:  2 3 5 6 7 9

[4, 9, 25, 36, 49, 81]

In [11]:
#7. Write a program to reverse a list without using built-in reverse() function.
lst = [1, 2, 3, 4, 5]
reverse_lst = lst[::-1]
print(reverse_lst)

[5, 4, 3, 2, 1]

In [12]:
#8. Check whether a specific item exists in a list or not.
num = int(input("Enter the number that you want to search in the list: "))
lst = [2, 4, 6, 8, 10, 12, 16]
if num in lst:
  print("Exist")
else:
  print("Not exist")

Enter the number that you want to search in the list:  4

Exist

In [13]:
#9. Create a tuple with 6 elements. Print the first, third, and last element.
tuple1 = (1, 2, 3, 4, 5, 6)
print(tuple1[0])
print(tuple1[2])
print(tuple1[-1])

1
3
6

In [14]:
#10. Write a Python program to convert a list into a tuple.
lst = [1, 2, 5, 7, 9]
tup = tuple(lst)
print(tup)

(1, 2, 5, 7, 9)

In [15]:
#11. Write a program to count how many times an item appears in a tuple.
my_tuple = (1, 2, 2, 3, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [16]:
#12. Given a tuple of numbers, write a program to find the minimum and maximum values.
tup = (1, 2, 8, 9, 10, 17, 19, 20, 6, 3)
max_num = max(tup)
min_num = min(tup)
print(f"Max value is: {max_num} and Min value is: {min_num}")

Max value is: 20 and Min value is: 1

In [17]:
#13. Create a tuple of student names. Try modifying one element and observe the error.
tup = ("Ali", "Salman","Bilawal","Amna", "Kamran")
tup[0] = "Saira"
print(tup)

TypeError: 'tuple' object does not support item assignment

In [18]:
#14. Write a program that merges two lists into one and removes duplicates.
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
merged = list(set(list1 + list2))
print(merged)

[1, 2, 3, 4, 5, 6]

In [19]:
#15. Given a list of numbers, write a program to find the second largest number.
lst = [2, 10, 27 , 19, 34, 0, 18]
lst.sort()
print("Second Largest num is: ",lst[-2])

Second Largest num is:  27